#casinoevents-footer {
	padding: 15px 0;
    margin-top: 100px;
	color: $footer-text-color;
	font-size: 15px;
	background: $footer-bg-color;
    text-align: center;
    position: relative;
	p:last-child {
		margin: 0
	}
    &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        top: -25px;
        border-bottom: 1px solid $brand-primary;
        left: 0;
    }
    &:after {
        content: '';
        position: absolute;
        width: 116px;
        height: 72px;
        top: -90px;
        left: 50%;
        margin-left: -58px;
        background: #ffffff url(../images/logo-footer.png) center bottom no-repeat;
    }
}