.casinoevents-header {
    position: relative;
    padding: 30px 0 45px;
    .container {
        position: relative;
    }
}
.navbar {
    border: none;
}
.navbar-header {
    width: 100%;
    clear: both;
    text-align: center;
}
.navbar-brand {
    float: initial;
    display: inline-block;
}
.navbar-toggle {
    border-color: #FFFFFF;
    margin-top: 10px;
    margin-right: 0;
    .icon-bar {
        background: #FFFFFF;
    }
}

@media (min-width: 991px) {
    .navbar-collapse {
        position: absolute;
        background: $brand-primary;
        width: calc(100% - 60px);
        left: 30px;
        bottom: -65px;
        height: 45px;
        line-height: 45px;
        &:before {
            content: '';
            position: absolute;
            left: -15px;
            top: 0;
            width: 15px;
            height: 45px;
            background: url(../images/menu-left.png) center center no-repeat;
        }
        &:after {
            content: '';
            position: absolute;
            right: -15px;
            top: 0;
            width: 15px;
            height: 45px;
            background: url(../images/menu-right.png) center center no-repeat;
        }
    }
    
}
@media screen and (max-width: 991px) {
     .casinoevents-header {
        background: $brand-primary !important;
        padding: 5px 0;
        position: fixed;
         top: 0;
        width: 100%;
        z-index: 999;
    }
    
    .navbar-brand {
        float: left;
        img {
            max-height: 60px;
        }
    }
    .navbar-collapse {
        position: absolute;
        width: 100%;
        top: calc(100% + 5px);
        background: $secondary;
        z-index: 999;
    }
    .casinoevents-search {
        margin-top: 95px !important;
    }
    .admin-bar {
        .casinoevents-header {
            top: 32px;
        }
    }
}
@media screen and (max-width: 782px) {
    html #wpadminbar {
        position: fixed;
    }
    .admin-bar .casinoevents-header {
        top: 46px;
    }
    .casinoevents-search {
        margin-top: 100px !important;
    }
}
@include xxs {
    .casinoevents-search .searchform {
        margin-right: auto !important;
        width: 100% !important;
    }
}